<!--form-article-create.html-->

<!--Embed the header.html template at this location -->
{{ template "header.html" .}}

<h1>Update Existing Article</h1>

<div class="panel panel-default col-sm-12">
    <div class="panel-body">
        <!--Create a form that POSTs to the `/article/create` route-->
        <form class="form" action="/article/update/{{.payload.ID}}" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title" placeholder="Title" value= {{ .payload.Title }}>
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea name="content" class="form-control" rows="10" id="content" placeholder="Article Content">{{ .payload.Content }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<!--Embed the footer.html template at this location -->
{{ template "footer.html" .}}
